USE [master]
GO
/****** Object:  Database [Reconstruction]    Script Date: 10.06.2022 17:18:38 ******/
CREATE DATABASE [Reconstruction]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Reconstruction', FILENAME = N'C:\Users\gr602_stmti\Reconstruction.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Reconstruction_log', FILENAME = N'C:\Users\gr602_stmti\Reconstruction_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Reconstruction].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Reconstruction]
GO
/****** Object:  Table [dbo].[Task]    Script Date: 10.06.2022 17:18:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Task](
	[TaskID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[TaskStatusID] [int] NOT NULL,
	[CreatingUserID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TaskID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaskStatus]    Script Date: 10.06.2022 17:18:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaskStatus](
	[TaskStatusID] [int] IDENTITY(1,1) NOT NULL,
	[StatusType] [nvarchar](15) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TaskStatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 10.06.2022 17:18:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Surname] [nvarchar](25) NOT NULL,
	[Name] [nvarchar](25) NOT NULL,
	[Patronymic] [nvarchar](25) NOT NULL,
	[Login] [nvarchar](20) NOT NULL,
	[Password] [nvarchar](30) NOT NULL,
	[PhoneNumber] [nvarchar](15) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TaskStatus] ON 

INSERT [dbo].[TaskStatus] ([TaskStatusID], [StatusType]) VALUES (1, N'Не готово')
INSERT [dbo].[TaskStatus] ([TaskStatusID], [StatusType]) VALUES (2, N'Выполняется')
INSERT [dbo].[TaskStatus] ([TaskStatusID], [StatusType]) VALUES (3, N'Готово')
SET IDENTITY_INSERT [dbo].[TaskStatus] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([UserID], [Surname], [Name], [Patronymic], [Login], [Password], [PhoneNumber]) VALUES (1, N'Уваров', N'Ипполит', N'Феликсович', N'fuk', N'qwe', N'79044236576')
SET IDENTITY_INSERT [dbo].[User] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__User__5E55825BD4D14231]    Script Date: 10.06.2022 17:18:38 ******/
ALTER TABLE [dbo].[User] ADD UNIQUE NONCLUSTERED 
(
	[Login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Task]  WITH CHECK ADD FOREIGN KEY([CreatingUserID])
REFERENCES [dbo].[User] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Task]  WITH CHECK ADD FOREIGN KEY([TaskStatusID])
REFERENCES [dbo].[TaskStatus] ([TaskStatusID])
ON DELETE CASCADE
GO
USE [master]
GO
